.idea/
*.csv
*.log
*.bak
crawlImgs/__pycache__/
wlImgs/spiders/__pycache__/
*.pyc
tools/classifier/face_detection/*.csv
tools/classifier/face_detection/*.log
tools/js_spider/html/*.html
/tools/js_spider/nohup.log
.DS_Store
crawlImgs/spiders/__pycache__/
tools/js_spider/html/
tools/js_spider/part.0.49.id
tools/js_spider/user.-1.0.id
tools/js_spider/user.id
/tools/js_spider/user.id
/tools/js_spider/user.-1.0.id
/tools/js_spider/part.0.49.id
